<html>
<head>
	<link rel="stylesheet" type="text/css" href="<%= url("/hangman.css") %>" />
	<title>Hangman</title>
</head>
<body>
	<h1>Let's Play Hangman!</h1>
	<% if @answer1.nil? and game.nil? %>
		<div class="begin">
			<p>Would you like to load your previous game?</p>
			<form>
				<input type="radio" name="answer1" value="yes" />Yes
				<input type="radio" name="answer1" value="no" />No
				<input type="submit" />
			</form>
		</div>
	<% end %>
	<% if @message1 %>
		<h3 class="message"><%= @message1 %></h3>
	<% end %>

	<% if game %>
		<% if @message2 %>
			<h3 class="message"><%= @message2 %></h3>
		<% end %>		
		<div id="game-box">
			<div class="guessbox">
				<% game.hide_word if game.hidden_word.empty? %>
				<p id="hidden-word"><%= game.hidden_word.join(" ") %></p>
				<% unless game_over? %>
					<p>Please enter a letter:
						<form action="/" method="post">
							<input type="text" name="guess" value="<%= @guess %>" autofocus="autofocus" />
							<input type="submit" />
						</form>
					</p>
				<% end %>
				<br>
				<% if !game.hidden_word.include? "_" %>
					<p>You've got it! The correct word was <strong><%= game.target %></strong>!</p>
				<% elsif game.tries == 6 %>
					<p>Sorry, the correct word was <strong><%= game.target %></strong>!</p>
				<% else %>
					<p>Letters guessed: <%= game.already_guessed.join(", ") %></p>
				<% end %>
			</div>
			<img src="<%= @image %>" class="guessbox" />
			<div class="play-again">
				<% if game_over? %>
					<p>Would you like to play again?</p>
					<form>
						<input type="radio" name="answer2" value="yes" />Yes
						<input type="radio" name="answer2" value="no" />No
						<input type="submit" />
					</form>
					<%= @message3 if @message3 %>
				<% end %>
			</div>
		</div>
	<% end %>

</body>
</html>